<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/b69355b8-24ec-414a-9f02-76071b3b33c2/resourceGroups/TLResourceGroup/providers/Microsoft.Web/sites/TLRestAPI</ResourceId>
    <Subtype>ContainerRegistry</Subtype>
    <DockerPublish>True</DockerPublish>
    <SiteUrlToLaunchAfterPublish>http://tlrestapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>tlrestapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TLRestAPI</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TLRestAPI</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>